XCOMM 
XCOMM  Author:      William Chia-Wei Cheng (bill.cheng@acm.org)
XCOMM 
XCOMM  @(#)$Header: /mm2/home/cvs/bc-src/tgif/po/Po.tmpl,v 1.1 2004/06/18 23:12:02 william Exp $
XCOMM 

INSTALL		= install -c
MKINSTALLDIRS	= install -d

DESTDIR		=
SYSNLSDIR	= /usr/share/locale
NLSDIR		= $(DESTDIR)$(SYSNLSDIR)
