# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

tests.log

runtime/Makefile
runtime/debug-t.c
runtime/faisus-t.c
runtime/gc-t.c
runtime/intrpt-t.c
runtime/kmain-t.c
runtime/pipedio
runtime/print-t.c
runtime/sched-t.c
runtime/unify-t.c

compiler/kl1cmp
compiler/klic
compiler/klic.db
compiler/klicdb
compiler/klicdb.init
compiler/libklic.db

Makefile
config.sh
include/Makefile
include/klic/config.h
test/*.c
test/*.h
test/*.ext
test/*.res
test/atomfunc
test/cmac
test/deriv
test/fact
test/hanoi
test/iotest
test/kkqueen
test/klic.db
test/klicdb.init
test/libklic.db
test/life
test/mastermind
test/merge
test/parsetest
test/pascal
test/pp
test/primes
test/primesp
test/prio
test/puzzle
test/qlay
test/qsort
test/turtles
test/vecstr
test/wave
